    <section id="about" class="wrapper">
        <h2 class="sec-title">働きたい人</h2>
          <h3>求人詳細</h3>
        <div class="detail">
              <table>
                  <tr>
                    <th>勤務地</th>
                    <td><p>香川県観音寺市柞田町山田丁11</p></td>
                  </tr>
                  <tr>
                    <th>仕事内容</th>
                    <td><p>【肉牛の飼養スタッフ】
            <br />牛たちへの餌やりや健康管理、牛舎清掃など</p></td>
                  </tr>
                  <tr>
                    <th>雇用形態</th>
                    <td><p>①正社員
            <br />②パート/アルバイト</p></td>
                  </tr>
                  <tr>
                    <th>雇用期間</th>
                    <td><p>長期(雇用期間の定めなし)</p></td>
                  </tr>
                  <tr>
                    <th>勤務時間</th>
                    <td><p>8:00～12:00・14:00～18:00(休憩時間120分/実働8時間)
            <br />※業務の合間は全て休憩時間
            <br />※季節・天候による変動あり</p></td>
                  </tr>
                  <tr>
                    <th>休日</th>
                    <td><p>①
            <br />a.週1～2日
            <br />b.完全週休2日制
            <br />※会社シフトによる(希望によるローテーション制)</p><br/><p>②応相談</p></td>
                  </tr>
                  <tr>
                    <th>社会保険</th>
                    <td><p>雇用保険・労災保険・健康保険・厚生年金</p></td>
                  </tr>
                  <tr>
                    <th>給与</th>
                    <td><p>①
            <br />a.月給:200,000円～220,000円(週休1日の場合)
            <br />b.月給:180,000円～200,000円(完全週休2日の場合)
            <br />※試用期間3ヶ月あり(期間中は日給:7,200円) </p><br/><p>②時給:900～1,000円
            <br />※試用期間なし</p></td>
                  </tr>
                  <tr>
                    <th>待遇</th>
                    <td><p>①
            <br />賞与あり(年2回)
            <br />昇給あり(年1回)
            <br />通勤手当あり
            <br />住宅手当あり(上限20,000/月)
            <br />残業手当あり
            <br />食事手当あり(要相談)
            <br />夏季休暇あり
            <br />年末年始休暇あり
            <br />慶弔休暇あり
            <br />連休取得相談可能
            <br />資格取得補助あり</p><br/><p>②面接時にお問い合わせください</p></td>
                  </tr>
                  <tr>
                    <th>寮・社宅</th>
                    <td><p>なし　※相談可能
            <br />(近隣家賃相場:40,000円～/月)</p><br/><p>※県内外移住者に関しては、条件により家賃補助あり(観音寺市の方は対象となりません)
            <br />※詳細はお問い合わせください。</p><br/><p>※物件探しのお手伝いもいたします。</p></td>
                  </tr>
                  <tr>
                    <th>必要な資格・<br>免許・経歴</th>
                    <td><p>年齢:①50歳以下(長期勤続によるキャリア形成のため)、②不問
            <br />学歴:不問　※新卒応募可
            <br />経験:不問
            <br />免許:普通自動車免許(AT限定可)</p></td>
                  </tr>
                  <tr>
                    <th>応募・問い合わせ先</th>
                    <td><p>【連絡先】
            <br />電話:<a href="tel:090-9554-2216"><font color="#0000ff">090-9554-2216</font></a>
            <br />担当:高橋 貴洋
            <br />※直接連絡される場合、必ず「御社の求人サイト」を見たとお伝えください。</p></td>
                  </tr>
                  <tr>
                    <th>連絡事項等</th>
                    <td><p>【お問い合わせ・応募方法】
            <br />▼「求人応募フォーム」よりご応募頂くか上記担当者へ直接ご連絡お願いします。
            <br />※直接連絡される場合、必ず「御社の求人サイト」を見たとお伝えください。
            <br />※スムーズに選考が進みます。</p><br/><p>【選考フロー】
            <br />①	応募
            <br />②	書類選考
            <br />③	面接
            <br />④	採用
            <br />※見学・体験可</p></td>
                  </tr>
                  <tr>
                    <th>備考</th>
                    <td><p>受動喫煙防止措置の状況:屋内禁煙</p></td>
                  </tr>
              </table>
              <h2>応募はこちらから</h2>
              <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfyjqCs_q84F7sv8l1YAQV-d9_FsckwiMPXGVE-P7Ek5ZDLiQ/viewform?embedded=true" width="640" height="947" frameborder="0" marginheight="0" marginwidth="0">読み込んでいます…</iframe>
        </div>
　 </section>
