 <section id="about" class="wrapper">
        <h2 class="sec-title">会社概要</h2>
        <ul>
          <h2>高橋畜産株式会社</h2>
          <h3>代表　高橋 充信</h3>
          <br>
          <li>〒768-0040</li>
          <li>香川県観音寺市柞田町乙362<br>（※面接・見学時の訪問場所と異なる場合がありますので必ずご確認下さい。）</li>
          <br>
          <li>採用担当　高橋 貴洋</li>
          <li>tel: 0875-24-2252（9:00～15:00）</li>
        </ul>
        <p>
          働いてみたい人はInstagramをチェックしてね。
        </p>
        インスタグラムをAPIで埋め込み予定

      </section>
