 <section id="about" class="wrapper">
        <h2 class="sec-title">会社概要</h2>
        <ul>
          <h2>高橋畜産株式会社</h2>
          <h3>代表　高橋 充信</h3>
          <br>
          <li>〒768-0040</li>
          <li>香川県観音寺市柞田町乙362<br>（※面接・見学時の訪問場所と異なる場合がありますので必ずご確認下さい。）</li>
          <br>
          <li>採用担当　高橋 貴洋</li>
          <li>tel: 0875-24-2252（9:00～15:00）</li>
        </ul>

        <div class="describe right">
          <dl>
            <dt>観音寺市街地＆有明浜近くの肉牛農場</dt>
            <br>
            <dd>香川県西部に位置し、瀬戸内海に面する観音寺市。この町の有明浜のほど近くで、私たち「高橋畜産」は、繁殖雌牛120頭を含む約1,200頭の肉牛を飼養する規模の牧場を営んでいます。私たちの育てる肉牛は、香川県で飼育される血統明確な黒毛和種。肉質のランクが一定以上に格付けされた地域ブランド牛「讃岐牛・オリーブ牛」です。乳酸菌や納豆菌などの酵母菌を配合した抗生物質を使わない安全なオリジナル飼料で飼育。神戸市場の肉用牛枝肉共励会(品評会)で、4年連続最優秀賞受賞のお墨付きです！出品した雌牛が、平均の3倍ほどにあたる高値を付けたこともあるんですよ。</dd>
            <br>
            <dt>香川県で初めての「HACCP」認定農場！</dt>
            <br>
            <dd>国の審査に合格し、香川県で初めてHACCP認定農場に指定されました！「農場HACCP」とは、畜産の現場での衛生管理を向上させるため、食品の安全性や品質を確保するための管理手法である「HACCP」の考え方を取り入れた手法です。リスクとなる要因を防止するための管理ポイントを設定し、継続的な監視・記録を実施。農場段階で危害要因をコントロールすることにより、より安全で安心な製品をお客様に届けることができます。<br>
            2018年春には繁殖牛舎が完成し、2021年新牛舎増設、ますますの事業拡大を予定している当社。ともにこの成長を支えてくださるスタッフを正社員とパートで同時募集しています。具体的なお仕事の内容は、牛への餌やりや健康管理、牛舎清掃などで、意欲があり動物が好きな方であれば、畜産未経験者や新卒の方も応募可能♪イチからの丁寧な指導と、資格取得補助などで、あなたの活躍を全力でバックアップしていきますので、安心して就業できますよ。</dd>
            <br>
            <dt>スタッフが働きやすい環境づくりに注力</dt>
            <br>
            <dd>代表や代表家族は、頑張るスタッフに長く働いてもらえるように、率先して働きやすい環境づくりを推進しています。女性も多く活躍していることが、働きやすさの証拠。全員20代の若いチカラが活躍中の現場は、雰囲気が良く活気にあふれています。各種手当の充実や、賞与昇給といった待遇の整備のほか、男女別々の休憩室(更衣室)・トイレ・シャワールームも完備しました。また遠方からの就業を希望の方は住宅手当の支給の相談や、住まい探しの相談に応じます。<br>
            農場は徒歩圏内に賃貸物件やコンビニなどのある大変便利な場所にありますので、移住への不安は少ないかと思いますよ。大規模商業施設や病院などの揃う観音寺市街地や、有明浜のきれいな海へも車で10分。生活にもレジャーにも便利な立地です。新規就農や新しい土地での生活に不安のある方には、見学・体験も受け付けていますので、お気軽にお問合せください。</dd>
            <br>
            <dt>働いてみたい人はInstagramをチェックしてね。</dt>
          </dl>
        </div>

      </section>
