 <section id="about" class="wrapper">
        <h2 class="sec-title">About</h2>
        <ul>
          <li>Xxxxx Ashley</li>
          <li>2th Floor xxxxx Building x-x-x Nishiazabu, Minato-ku, Tokyo 106-0031 Japan</li>
          <li>tel: 000-0000-0000</li>
          <li>url: www.xxxxxx.jp</li>
          <li>mail: xxx@xxxxxx.jp</li>
        </ul>
        <p>
          2021年新牛舎増設☆天然素材にこだわって育てる牛肉の品質は最優秀賞受賞のお墨付き！
          肉牛飼養スタッフを募集！働きやすい環境づくりを推進。市街地に近い立地も魅力です♪
          【週休1日・完全週休2日！選べる休日数】
        </p>
      </section>
